body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.container {
  text-align: center;
}

.justify-content-between {
  align-items: stretch !important;
  justify-content: space-between !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.navbar {
  display: grid;
  grid-template-columns: 5fr 0.7fr;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #343a40 !important;
  flex-flow: row nowrap;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: #fff;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration:none;
}

header .cart {
  position: relative;
  cursor: pointer;
  padding-top: 10px;
}

header .cart box-icon {
  width: 45px;
  height: 45px;

}

header .cart span {
  position: absolute;
  top: -0.1rem;
  right: -1rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: crimson;
}

.titulo-header {
  text-align: center !important;
  padding-bottom: 1.5rem !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-bottom: 1.5rem !important;
  padding-top: 3rem !important;
  padding-left: 1rem !important;
}

.titulo-header h1 {
  margin-top: 1.5rem !important;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.container-productos {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list-productos {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center !important;
  margin-bottom: 1rem !important;
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.productos {
  display: flex;
  flex: 1 0 0%;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-header-productos {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.nom-productos-header {
  font-weight: 700 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  font-size: 1.5rem;
  line-height: 1.2;
}

.card-body-productos {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  vertical-align: middle;
  border-style: none;
}

.precio-titulo {
  margin-bottom: 0.75rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.list-detalles-producto {
  margin-bottom: 1.5rem !important;
  margin-top: 1rem !important;
  padding-left: 0;
  list-style: none;
}

.brn-add-carriot {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.h2,
h2 {
  font-size: 2rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 1rem;
}

.columna {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table figure {
  margin: 0;
}
.table figure img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: fill;
}

.item-cantidad {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.botonesCarrito {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 50px;

  box-sizing: border-box;
}

.boton1{
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.boton2{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nav-new {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
}

.nav-new li {
  float: left;
  margin-left: 25px;
  border-right:1px solid #bbb;
}

.nav-new li:last-child {
  border-right: none;
}

.nav-new li Link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-new li Link:hover:not(.active) {
  background-color: #111;
}

.nav-new active {
  background-color: #04AA6D;
}

