body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.justify-content-between {
  align-items: stretch !important;
  justify-content: space-between !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.navbar {
  display: grid;
  grid-template-columns: 5fr 0.7fr;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #343a40 !important;
  flex-flow: row nowrap;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: #fff;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration:none;
}
.logo {
  font-size: 34px;
}

@media (min-width: 992px) {
.padding-ar-ab {
  padding: 80px 0 !important;
  }
}

.padding-ar-ab {
  padding: 50px 0;
}

header .cart {
  position: relative;
  cursor: pointer;
  padding-top: 2px;
  padding-right: 100px;
}

header .cart box-icon {
  width: 45px;
  height: 45px;

}

header .cart span {
  position: absolute;
  top: -0.1rem;
  right: 5.6rem;
  width: 1.3rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #f1233e;
}

header .cart label {
  position: absolute;
  top: 0.6rem;
  right: -1rem;
  width: 6rem;
  height: 1.4rem;
  margin-left: 5px;
  border-radius: 50%;
  display: flex;
  align-items: right;
  justify-content: center;
  color: #faf2f3;
  padding: 0rem;
  font-size: 1rem;
  font-weight: 700;
}

.titulo-header {
  text-align: center !important;
  padding-bottom: 1.5rem !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-bottom: 1.5rem !important;
  padding-left: 1rem !important;
}

.ti-carrito {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.titulo-header h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.productos {
  padding: 15px;  
}

.card-header-productos {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  padding: 0 0 5px 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.nom-productos-header {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.2;
}

.card-body-productos {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  vertical-align: middle;
  border-style: none;
}

.precio-titulo {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0.5;
  margin-top: 0;
}

.list-detalles-producto {
  margin-bottom: 0.8rem !important;
  margin-top: 1rem !important;
  padding-left: 0;
  list-style: none;
}

.brn-add-carriot {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #333;
  border-color: #007bff;
  font-weight: 400;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.brn-add-carriot:hover {
  color: #fff;
  background-color: #5d5e5f;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.mt-3,
.my-3 {
  margin-top: 0rem !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.h2,
h2 {
  font-size: 2rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 1rem;
}
bold {
  font-weight: 700;

}

h2, h3, h4, h5 {
  font-weight: 300;
}
.columna {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-top: 60px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table figure {
  margin: 0;
}
.table figure img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: fill;
}

.item-cantidad {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.item-cantidad p {
  margin-bottom: 0;
}

.botonesCarrito {
  float: right;
}

.boton1{
  background-color: #333; /* Green */
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.boton2{
  background-color: #e46072; /* Green */
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nav-new {
  list-style-type: none;
  margin: 0;
  padding: 0px 15px;
  overflow: hidden;
  background-color: #333;
}

.nav-new li {
  float: left;
  margin-left: 15px;
  border-right:1px solid #bbb;
}

.nav-new li:last-child {
  border-right: none;
  padding: 5px 0;
}

.nav-new li Link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-new li Link:hover:not(.active) {
  background-color: #111;
}

.nav-new active {
  background-color: #04AA6D;
}

.total {
  float: left;
  display: block;
  margin-top: 8px;
  font-size: 20px;
}

.ti-precio {
  font-weight: 700;
  font-size: 20px;
  float: left;
} 

/* banner inicio */ 

.bannerini img {
  width: 100%;
}

.item-productos {
  padding: 10px 0;
}

.titulo {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
}

.titulo h1 {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

.li-pro {
  border-right: inherit !important;
}

.container-fluid {
  padding: 0;
}

.categorias {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

@media (max-width: 1199px) {
  .categorias img {
    width: 100%;
  }
}

.categorias a {
  color: #333;
  text-decoration: none;
  transition: all 1s;
}

.categorias a:hover h2 {
  font-size: 2.1rem !important;
  transition: all 1s;
}

.categorias a:hover img {
  filter: brightness(50%); 
  transition: all 1s;
}

.ti-categoria {
  padding: 5px 0;
} 

.ti-categoria h2 {
  text-align: center;
  font-weight: 300;
}

.cont-info {
  text-align: center;
  background-color: #DADADA;
  padding: 20px 0;
}
@media (min-width: 992px) {
  .info img {
    width: 248px;
  }
}
.info img {
  width: 100%;
}

.copy {
  background-color: #333;
  text-align: center;
  padding: 5px 0;
}

.copy span {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.button, 
button {
  border: 0;
}

.form-group input {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #bbb;
}

ul.list-detalles-producto {
  font-size: 14px;
}

#contact_form input, 
#contact_form textarea {
  width: 100%;
}

#contact_form input#submit_button {
  width: auto;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 7px 40px;
}

#contact_form input#submit_button:hover {
  background-color: #5d5e5f;
}

.img-nosotros {
  margin-bottom: 30px;
}

.img-nosotros img {
  width: 100%;
}

.carrito-header .cart {
  position: relative;
  z-index: 999999;
}

@media (max-width: 876px) {
  .nav-new li {
    float: none;
    border-right: 0px solid #bbb;
  }
  .item-productos {
    padding: 0px 0;
  }
  
  .icono-carr {
    float: right;
    padding-right: 25px;
    position: absolute;
    right: 40px;
    top: 0;
    padding: 12px 0;
  }
  .element.style {
    padding: 6px 0 12px 0;
    padding: 6px 0 12px 0;
  }
}